@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

html{
    font-size: 10px;
    scroll-behavior: smooth;
}

body{
    background-color: #000;
    overflow-x: hidden;
    overflow-y: auto;
}

.back1{
    background-image: url('../ironman.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: right;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background-color: #000;
    height: 100px;
}
header .logo img{
    width: 150px;
    transition: all .3s;
}
header .logo img:hover{
    transform: scale(1.3);
}

header nav ul{
    display: flex;
    min-width: 300px;
    max-width: 450px;
    justify-content: space-between;
    gap: 20px;
}

header nav ul li{
    cursor: pointer;
    list-style: none;
    position: relative;
    font-size: 1.5rem;
    text-transform: lowercase;
}

header nav ul li a{
    text-decoration: none;
}

header nav ul li::before{
    content: '';
    width: 0;
    color: #fff;
    position: absolute;
    right: 0;
    bottom: -5px;
    transition: all .3s;
}

header nav ul li:hover::before{
    width: 100%;
    border: 1px solid #fff;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

main{
    display: flex;
    flex-direction: column;
}

main hr{
    width: 500px;
}

main .title{
    cursor: default;
}

main .title h1{
    font-size: 10rem;
    display: inline-block;
    position: relative;
    letter-spacing: -10px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}

main .title h1::before{
    content: '';
    width: 0;
    position: absolute;
    left: 0;
    transition: all .4s;
    bottom: 120px;
}

main .title h1::after{
    content: '';
    width: 0;
    position: absolute;
    right: 0;
    transition: all .4s;
    top: 120px;
}

main .title:hover h1::before{
    width: 100%;
    border: 1px solid rgb(149, 149, 2);
}
main .title:hover h1::after{
    width: 100%;
    border: 1px solid red;
}

main .title h5{
    font-size: 2rem;
    margin-left: .8rem;
    font-weight: lighter;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

main .content .about{
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 500px;
}

main .content .about h3{
    font-size: 6rem;
}

main .content .about p{
    font-size: 1.5rem;
    line-height: 2.5rem;
}

main .content .btn{
    padding: 20px;
    border-radius: 25px;
    background-color: transparent;
    width: 150px;
    cursor: pointer;
    border: 1px solid #fff;
    letter-spacing: 2px;
    font-size: 1.5rem;
}

main .content .btn a{
    text-decoration: none;
}

.container .content .btn:hover, .btn:hover a{
    background-color: #fff;
    color: #000;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

main .bio{
    margin: 150px 100px;
    height: 100vh;
    font-size: 1.5rem;
    line-height: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .bio h3{
    font-size: 3rem;
    margin-bottom: 2rem;
}

main .bio h4{
    font-size: 2rem;
    margin-bottom: 5rem;
}

main .bio .paraps{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 80px;
    grid-gap: 30px;
    line-height: 3rem;
    align-items: center;
    justify-content: center;
}
main .bio .paraps p::first-letter{
    font-size: 6rem;
    opacity: .3;
    padding-right: 10px;
}

main .bio hr{
    width: 90%;
    margin: 20px auto;
}

main .bio>p {
    width: 50%;
    line-height: 3rem;
    text-align: center;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

.social{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 50px;
    position: fixed;
    right: 0;
    top: 40%;
    background-color: #fff;
    opacity: .6;
    border-radius: 15px 0 0 15px;
    z-index: 10;
}
.facebook, .twitter, .instagram{
    background-color: transparent;
    width: 40px;
    padding: 5px 0;
    cursor: pointer;
    z-index: 4;
    border-top: 1px solid #000;
    transition: all .3s;
}

.facebook:hover, .twitter:hover, .instagram:hover{
    transform: scale(1.2);
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

.back3{
    height: 100vh;
    margin: 100px;
    text-align: center;
}

.back3>h3{
    font-size: 3rem;
    margin-bottom: 4rem;
}

.back3 article{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    align-items: flex-start;
}

.back3 article .film{
    width: 300px;
    border: 2px solid #fff;
    border-radius: 20px;
    overflow: hidden;
    transition: all .4s;
    height: 600px;
    padding: 10px;
}

.film:hover img{
    transform: scale(1.1);
    transition: all .4s;
    z-index: 10;
}

.film-content{
    line-height: 2rem;
    font-size: 1.2rem;
    text-align: left;
}

.back3 img{
    width: 100%;
    border-radius: 20px;
}


/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.back4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100vh;
    margin-bottom: 50px;
}

.back4 h3{
    font-size: 3rem;
    margin-bottom: 4rem;
}

.back4 .scenes{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
    padding: 0 50px;
}

.back4 .scenes iframe{
    border-radius: 20px;
    border: 2px solid #fff;
}


/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

footer{
    position: fixed;
    height: 15px;
    background-color: #000;
    width: 100%;
    bottom: -0;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*++++++++++++++++++++++++RESPONSIVE+++++++++++++++++++++++++++++++++*/
@media screen and (max-width: 800px){
    header{
        display: none;
        margin-bottom: 50px;
    }
    .back1{
        height: 70vh;
        background-image: none;
    }
    .back1 .title{
        background-color: rgba(255,255,255,.2)
    }

    .back1 .content .about{
        padding: 50px;
    }

    .back1 .content .btn{
        display: none;
    }

    
}
