#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form{
  align-items: center;
  display: flex;
  justify-content: center;
}

main{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

main ul li{
  list-style: none;
}

main ul li img{
  width: 200px;
  height: 200px;
  border-radius: 20px;
}