:root{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar{
  display: none;
}
.page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vw;
  scroll-behavior: smooth;
}


form{
  align-items: center;
  display: flex;
  justify-content: center;
}

main{
  margin-top: 20px;
  display: flex;
  width: 100%;
  justify-content: center;
}

.characters{
  display: grid;
  list-style: none;
  align-items: center;
  margin: 0;
  padding: 0;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  width: 100%;
  gap: 5px;
}

.character{
  max-width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  position: relative;
}
.character:active{
  top: 2px;
  box-shadow: rgba(100, 100, 100, .2);
}
.character .profile-name{
  overflow: hidden;
  white-space: nowrap;
  word-break: break-all;
  text-overflow: ellipsis;
  text-align: center;
  width: 85%;
}
.character .profile-poster{
  width: 200px;
  height: 200px;
  border-radius: 20px;
  object-fit: cover;
  filter: drop-shadow(3px 4px 4px #4444dd);
}

.character .fav-icon{
  position: absolute;
  top: 10px;
  right: 20px;
  border: 1px solid #fff;
  border-radius: 50%;
  background-color: #505050;
  width: 20px;
}

@media screen and (max-width: 500px){
  .characters{
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
    flex-wrap: wrap;
    gap: 1px;
  }
  .character{
    width: 120px;
    text-overflow: ellipsis;
  }
  .character .profile-name{
    font-size: 14px;
  }
  .character .profile-poster{
    width: 100px;
    height: 100px;
  }
  .character .fav-icon{
    top: 5px;
    right: 15px;
  }
}

@media screen and (min-width: 501px){
  .characters{
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 20px;
  }
  .character .profile-name{
    font-size: 16px;
  }
  .character .fav-icon{
    right: 10px;
    width: 30px;
  }
}

@media screen and (min-width: 900px){
  .characters{
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .character .fav-icon{
    right: 25px;
  }
}
  
